/* form{
    
    background-position: 20%;
    
}

a{
    color: rgb(169, 222, 190);
    text-decoration: none;
}
select,label,input,ul{
    width: 30%;
    margin: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgb(22, 72, 72);
    color: rgb(185, 223, 223);
    font-size: 20px;
    border-color: black;
    padding-inline: 30%;
    

}

input[type="submit"]:hover, input[type="button"]:hover,a:hover{
    font-size: 23px;
    }

h1{
    margin: 3%;  
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: darkslategray;
    color: azure;
}

html{
    background-color: rgb(186, 182, 182);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #a19aa8;
    background-color: #a19aa8;


}

td {
    color: #0f2c44; 
}

th {
    background-color: #7d87c4;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
} */
